<h1>Tweet Beat</h1>
<% if user_signed_in? %>
  <div>Signed in as... <%= current_user.email %></div>
  <%=link_to 'Sign out', destroy_user_session_path, :method => :delete %>
 <% else %>
   Not signed in. Time to sign in!
   <%=link_to 'Sign in', new_user_session_path, :method => :get %>
  <% end %>



<div>
  <div style="height:40px"></div>
  <div class="tweet-feed">
    <div><h4>Recent Tweets</h4></div>
    <% @show10.each do |tweet| %>
      <table class="table table-bordered table-striped">
        <tr>
          <td colspan="3" class=" info tweet"><%= tweet.tweet_text %></td>
        </tr>
        <% tweet.comments.each do |comment| %>
          <tr>
            <td style="padding-left:60px"><%= comment.comment_text %></td>
          </tr>
        <% end %>
        <tr>
          <td class="by">-<%= User.find(tweet.user_id).username %> 
          <br>
            <%= link_to "view", tweet %> |
            <%= link_to 'update', edit_tweet_path(tweet) %>
          </td>
        </tr>
      </table>
    <% end %>
  </div>

</div>
